<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPSiteAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SPSiteAdmin.Properties.Settings>
            <setting name="WebAppMove" serializeAs="String">
                <value />
            </setting>
            <setting name="ContentDBSource" serializeAs="String">
                <value />
            </setting>
            <setting name="ContentDBDest" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="WebAppBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="WebAppRestore" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderRestore" serializeAs="String">
                <value />
            </setting>
            <setting name="WebAppCreate" serializeAs="String">
                <value />
            </setting>
            <setting name="ContentDBCreate" serializeAs="String">
                <value />
            </setting>
            <setting name="ManagedPathCreate" serializeAs="String">
                <value />
            </setting>
            <setting name="TimestampBackup" serializeAs="String">
                <value>False</value>
            </setting>
        </SPSiteAdmin.Properties.Settings>
    </userSettings>
</configuration>